<!--
<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<input class='pull-left form-control' id='query-bar' placeholder='http://yourinterestingsite.com' />
<button class='pull-left btn btn-primary' id='query-go'>Load Page</button>
</div>
<ul class="pull-right nav navbar-nav">
<%= render 'layouts/navigation_links' %>
</ul>
</div>
</nav>
<iframe id='query-target'></iframe>
-->
<ul id="tiles" class="unstyled">
  <% @categories.each do |category| %>
  <li><div id="post-262">
        <div class="post-home">
          <div class="view view-first">
            <a href="<%= watches_path %>?category=<%= category.name %>" title="<%= category.name %>">
              <img width="220" height="255" src="<%= category.image %>" 
                class="attachment-hp-thumb wp-post-image" alt="finance"/></a>
            <div class="mask">                    
            <h2><%= category.name %></h2>
              <p class="link-btn"><a href="<%= watches_path %>?category=<%= category.name %>" rel="bookmark" title="<%= category.name %> Watches"><i class="icon-share-alt"></i></a>
                <!-- insert link to view listings in href -->
              </p>
            </div>
          </div>
        </div><!-- end of .post-home-->             
      </div><!-- end of #post-262 -->
  </li>
  <% end %>
  <div class='clearfix'></div>
</ul>