<div id='filters'>
  <a class='btn filter btn-primary' data-filter='*'>All</a>
<% @categories.each do |cat| %>
  <a class='btn filter' data-filter='.<%= cat.name %>'><%= cat.name %></a>
<% end %>
</div>
<div id='item-container'>
<% @watches.each do |watch| %>
  <% unless watch.history.last.nil? %>
  <div class="item <%= watch.category ? watch.category.name : "" %>" data-date='<%= watch.history.last.updated_at.to_i %>'>
    <%= link_to 'X', watch, class: 'remove', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if watch.history.last.image_id %>
    <img src="http://content2img.com:4000/images/<%= watch.history.last.image_id %>.png" 
      class="attachment-hp-thumb wp-post-image" alt="finance"/>
    <% else %>
    Content expired
    <% end %>
  </div>
  <% end %>
<% end %>
</div>
<div class='clearfix'></div>
<script type="text/javascript">
(function($) {
  $(document).ready(function() {
    $("#item-container").isotope({
      layout : 'masonryHorizontal',
      itemSelector : '.item',
      sortBy : 'date',
      sortAscending : false,
    });
    setTimeout(function() {
      $("#item-container").isotope('reLayout');
    },500);
  });
  $(".filter.btn").click(function() {
    $(this).siblings().removeClass("btn-primary");
    $(this).addClass("btn-primary");
  });
  $("#filters a").click(function() {
    var selector = $(this).attr('data-filter');
    $("#item-container").isotope({ filter: selector });
  });
})(jQuery);
</script>